.typing-effect {
	overflow: hidden;
	border-right: 0.15em solid rgb(40, 200, 192);
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: 0.15em;
	filter: drop-shadow(0 0 10px rgba(33, 218, 147, 0.752));
	animation: typing 3.5s steps(100, end), blink-caret 0.75s step-end infinite;
	display: inline-block;
	max-width: fit-content;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border11-color: transparent;
	}
	50% {
		border11-color: rgb(108, 20, 189);
	}
}
